<section id="portfolio">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Portfolio</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Si stante, hoc natura videlicet vult, salvam esse se, quod concedimus ses haec dicturum fuisse</p>
        </div>
      </div>

      <div class="row">

        <div class="col-md-4">
          <a class="portfolio-item" style="background-image: url(assets/img/Peliculas-app.png);" href="https://angelmorales1.github.io/TheMovieDbAngular/home" target="_blank">
            <div class="details">
              <h4>Peliculas app</h4>
              <span>Angular-Sass-TheMovieDB</span>
            </div>
          </a>
        </div>

        <div class="col-md-4">
          <a class="portfolio-item" style="background-image: url(assets/img/noticiasargentinas.png);" href="https://angelmorales1.github.io/noticiasargentinas" target="_blank">
            <div class="details">
              <h4>Noticias Argentinas</h4>
              <span>Angular-Sass-API de Noticias</span>
            </div>
          </a>
        </div>

        <div class="col-md-4">
          <a class="portfolio-item" style="background-image: url(assets/img/cafeteria.png);" href="https://angelmorales1.github.io/cafeteria/" target="_blank">
            <div class="details">
              <h4>Portfolio 5</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>

      </div>
    </div>
  </section>