<section id="portfolio">
    <div class="container wow fadeInLeft">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Portfolio</h3>
          <div class="section-title-divider"></div>
          <br>
          <br>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <a class="portfolio-item" style="background-image: url(assets/img/peliculas.png);" href="https://angelmorales1.github.io/TheMovieDbAngular/home" target="_blank">
            <div class="details">
              <h4>Juliska</h4>
              <span>Shopify-JQuery-Css</span>
            </div>
          </a>
        </div>

        <div class="col-md-4">
          <a class="portfolio-item" style="background-image: url(assets/img/memory.png);" href="https://portoandbello.com/" target="_blank">
            <div class="details">
              <h4>Porto & Bello</h4>
              <span>Shopify-JQuery-Css</span>
            </div>
          </a>
        </div>

        <div class="col-md-4">
          <a class="portfolio-item" style="background-image: url(assets/img/amika.png);" href="https://loveamika.com/" target="_blank">
            <div class="details">
              <h4>Love Amika US</h4>
              <span>Shopify-JQuery-Css</span>
            </div>
          </a>
        </div>

      </div>
    </div>
  </section>