<footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12 credits ">
          <p> Sitio web creado por: Angel Morales  </p>
        </div>
      </div>
    </div>
  </footer>

  <!-- <div *ngIf="!informacion" class="mail-div" (click)="submitUserForm()">
    <div class="g-recaptcha" data-sitekey="6LcpL18aAAAAABH6px3anL04CaN7PtQr0h7nOHnG" (data-callback)="verifyCaptcha()"></div>
    <div id="g-recaptcha-error"></div>

    <button type="button" class="btn btn-primary "> Mostrar correo electornico </button>

  </div> -->