
<section id="hero">
    <div class="hero-container">
      <div class="wow fadeIn">
        <div class="hero-logo">
          <img class="logo" src="./assets/img/logo.png" alt="ProOnliPc">
        </div>
  
        <h1>Frontend Developer</h1>
        <h2><span class="rotating"> Desarrollo de Websites, Maquetacion Web, Integracion con Backend </span></h2>
        <div class="actions">
          <a href="#about" class="btn-get-started">Acerca de mi</a>
          <a href="#portfolio" class="btn-services">Portafolio</a>
        </div>
      </div>
    </div>
  </section>
  