<section id="services">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Algunas Herramientas que utilizo:</h3>
          <div class="section-title-divider"></div>
          <p class="section-description"></p>
        </div>
      </div>

      <div class="row items-container">
        <div class="col-sm-3 col-xs-6 service-item">
          <div class="service-div">
            <img src="assets/img/angular.svg" class="img a">
            <h4 class="service-title">Angular</h4>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6 service-item">
          <div class="service-div">
            <img src="assets/img/html5.svg" class="img a">
            <h4 class="service-title">HTML</h4>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6 service-item">
          <div class="service-div">
            <img src="assets/img/pngegg.svg" class="img a">
            <h4 class="service-title">CSS</h4>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6 service-item">
          <div class="service-div">
            <img src="assets/img/bootstrap_logo.svg" class="img a">
            <h4 class="service-title">Bootstrap</h4>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6 service-item">
          <div class="service-div">
            <img src="assets/img/jquery.svg" class="img a">
            <h4 class="service-title">JQuery</h4>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6 service-item">
          <div class="service-div">
            <img src="assets/img/sass_logo.svg" class="img a">
            <h4 class="service-title">SASS</h4>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6 service-item">
          <div class="service-div">
            <img src="assets/img/node.js_logo.svg" class="img a">
            <h4 class="service-title">Node JS</h4>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6 service-item">
          <div class="service-div">
            <img src="assets/img/mongodb.svg" class="img a">
            <h4 class="service-title">Mongo DB</h4>
          </div>
        </div>
        
      </div>
      

    </div>
  </section>
