<section id="contact">

    <div class="wave" style="height: 150px; overflow: hidden;" >
      <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
        <path d="M0.00,49.98 C149.99,150.00 271.49,-49.98 500.00,49.98 L500.00,0.00 L0.00,0.00 Z" 
              style="stroke: none; fill: rgb(253, 253, 253);">
            </path>
      </svg>
    </div>

    <div class="container wow fadeInRight">
      <div class="row">
        <div class="col-md-12">
          <h2 class="section-title">Contacto</h2>
          <div class="section-title-divider"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-center linked">
          <div class="section-description">
            <h3>Puedes contactarme por:</h3>
          </div>
          <div class="imgContainer">
            <div class="img">
              <a href="https://www.linkedin.com/in/angel-antonio-morales-3a50a419a/" target="blank"><img src="./assets/img/linkedin.png" ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
 
  </section>